@page "/touchpoints"

@inject NavigationManager NavManager

@using M.A.R.S.ViewModel


<style>
    #header {
        margin-bottom: 50px;
    }

    #cbRow {
        margin: 10px;
    }

    #checkBoxes {
        border: 2px solid lightgrey;
        border-radius: 10px;
    }

    #footer {
        position: absolute;
        bottom: 0;
    }

    #notAuthorized {
        top: 50%;
        left: 50%;
    }
</style>

<h3 id="header">Touchpoints</h3>
<AuthorizeView>
    <Authorized>
        @if (this.DbWaiter)
        {
            <p>Loading...</p>
        }
        else
        {
                <div class="flex-sm-column" id="checkBoxes">
                    <div class="row" id="cbRow">

                    </div>
                    <div class="row" id="cbRow">
                        <div class="col-sm-4">
                            <form>
                                <input type="checkbox" id="cbTPRadio" name="Radio" checked="@CampaignRequest.TPRadio" @onclick="ToggleRadio"/>
                                <label for="cbTPRadio">Radio</label>
                            </form>
                        </div>
                        <div class="col-sm-8">

                        </div>
                    </div>
                    <div class="row" id="cbRow">
                        <div class="col-sm-4">
                            <form>
                                <input type="checkbox" id="cbTPTV" name="TV" checked="@CampaignRequest.TPTV" @onclick="ToggleTV"/>
                                <label for="cbTPTV">TV</label>
                            </form>
                        </div>
                        <div class="col-sm-8">

                        </div>
                    </div>
                    <div class="row" id="cbRow">
                        <div class="col-sm-4">
                            <form>
                                <input type="checkbox" id="cbTPPrint" name="Print" checked="@CampaignRequest.TPPrint" @onclick="TogglePrint" />
                                <label for="cbTPPrint">Print</label>
                            </form>
                        </div>
                        <div class="col-sm-8">

                        </div>
                    </div>
                    <div class="row" id="cbRow">
                        <div class="col-sm-4">
                            <form>
                                <input type="checkbox" id="cbTPCoupon" name="Coupon" checked="@CampaignRequest.TPCoupon" @onclick="ToggleCoupon"/>
                                <label for="cbTPCoupon">Coupons</label>
                            </form>
                        </div>
                        <div class="col-sm-8">

                        </div>
                    </div>
                    <div class="row" id="cbRow">
                        <div class="col-sm-4">
                            <form>
                                <input type="checkbox" id="cbTPBanner" name="Banner" checked="@CampaignRequest.TPBanner" @onclick="ToggleBanner"/>
                                <label for="cbTPBanner">Banner</label>
                            </form>
                        </div>
                        <div class="col-sm-8">

                        </div>
                    </div>
                    <div class="row" id="cbRow">
                        <div class="col-sm-4">
                            <form>
                                <input type="checkbox" id="cbTPSM" name="SM" checked="@CampaignRequest.TPSM"  @onclick="ToggleSM"/>
                                <label for="cbTPSM">Social Media</label>
                            </form>
                        </div>
                        <div class="col-sm-8">

                        </div>
                    </div>
                    <div class="row" id="cbRow">
                        <div class="col-sm-4">
                            <form>
                                <input type="checkbox" id="cbTPEMail" name="EMail" checked="@CampaignRequest.TPEMail" @onclick="ToggleEMail"/>
                                <label for="cbTPEMail">E-Mail</label>
                            </form>
                        </div>
                        <div class="col-sm-8">

                        </div>
                    </div>
                    <div class="row" id="cbRow">
                        <div class="col-sm-4">
                            <form>
                                <input type="checkbox" id="cbTPSEA" name="SEA" checked="@CampaignRequest.TPSEA" @onclick="ToggleSEA"/>
                                <label for="cbTPSEA">Search Engine Advertising</label>
                            </form>
                        </div>
                        <div class="col-sm-8">

                        </div>
                    </div>
                    <div class="row" id="cbRow">
                        <div class="col-sm-4">
                            <form>
                                <input type="checkbox" id="cbTPWebsite" name="Website" checked="checked" disabled="disabled" @bind-value="CampaignRequest.TPWebsite" />
                                <label for="cbTPWebsite">Website</label>
                            </form>
                        </div>
                        <div class="col-sm-8">

                        </div>
                    </div>
                    <div class="row" id="cbRow">
                        <div class="col-sm-4">
                            <form>
                                <input type="checkbox" id="cbTPShop" name="Shop" checked="checked" disabled="disabled" @bind-value="CampaignRequest.TPShop" />
                                <label for="cbTPShop">Shop</label>
                            </form>
                        </div>
                        <div class="col-sm-8">

                        </div>
                    </div>
                    <div class="row" id="cbRow">
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-8">
                            <div>
                                <button class="btn btn-primary" style="float:right" @onclick="NavigateToCampaign">Kampagne</button>
                            </div>
                        </div>
                    </div>
                </div>
                }
        </Authorized>
    <NotAuthorized>
        <div class="container" id="notAuthorized">
            <p>Bitte melde dich an um M.A.R.S. zu nutzen.</p>
        </div>

    </NotAuthorized>
</AuthorizeView>


@code {

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; }

    private HttpClient Http;

    private CampaignRequestVM CampaignRequest;

    private bool DbWaiter;

    private string CurrentUser { get; set; }

    protected override async void OnInitialized()
    {
        await GetUserName();
        if (!string.IsNullOrEmpty(this.CurrentUser))
        {
            this.DbWaiter = true;
            this.Http = new HttpClient();

            try
            {
                this.CampaignRequest = await this.Http.GetJsonAsync<CampaignRequestVM>($"{NavManager.BaseUri}Request/{CurrentUser}");
            }
            catch (Exception e)
            {
                Console.WriteLine("Fehler: " + e);
                this.CampaignRequest = new CampaignRequestVM();
            }
        }
        this.DbWaiter = false;
        this.StateHasChanged();
    }

    private async Task GetUserName()
    {
        var authState = await AuthenticationState;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            this.CurrentUser = user.Identity.Name;
        }
    }

    private async void NavigateToCampaign()
    {
        //Die nächsten paar Zeilen vermeiden einen Fehler beim Übertragen der ID vom einen CR auf den anderen, da stört sich SQL sonst
        CampaignRequestVM ctr = this.CampaignRequest;
        this.CampaignRequest = new CampaignRequestVM();

        this.CampaignRequest.TPRadio = ctr.TPRadio;
        this.CampaignRequest.TPTV = ctr.TPTV;
        this.CampaignRequest.TPPrint = ctr.TPPrint;
        this.CampaignRequest.TPCoupon = ctr.TPCoupon;
        this.CampaignRequest.TPBanner = ctr.TPBanner;
        this.CampaignRequest.TPSM = ctr.TPSM;
        this.CampaignRequest.TPEMail = ctr.TPEMail;
        this.CampaignRequest.TPSEA = ctr.TPSEA;

        this.CampaignRequest.User = this.CurrentUser;
        this.CampaignRequest.Date = DateTime.Now;
        this.CampaignRequest.TPShop = true;
        this.CampaignRequest.TPWebsite = true;


        HttpResponseMessage response = await this.Http.PostAsJsonAsync<CampaignRequestVM>($"{NavManager.BaseUri}Request", this.CampaignRequest);

        while (!response.IsSuccessStatusCode)
        {
            //Potential Deadlock
            this.DbWaiter = true;
        }
        this.DbWaiter = false;
        NavManager.NavigateTo("campaign");
    }

    //private HttpResponseMessage Response; //Zweck unbekannt?

    private void ToggleRadio()
    {
        CampaignRequest.TPRadio = !CampaignRequest.TPRadio;
    }

    private void ToggleTV()
    {
        CampaignRequest.TPTV = !CampaignRequest.TPTV;
    }

    private void TogglePrint()
    {
        CampaignRequest.TPPrint = !CampaignRequest.TPPrint;
    }

    private void ToggleCoupon()
    {
        CampaignRequest.TPCoupon = !CampaignRequest.TPCoupon;
    }

    private void ToggleBanner()
    {
        CampaignRequest.TPBanner = !CampaignRequest.TPBanner;
    }

    private void ToggleSM()
    {
        CampaignRequest.TPSM = !CampaignRequest.TPSM;
    }

    private void ToggleEMail()
    {
        CampaignRequest.TPEMail = !CampaignRequest.TPEMail;
    }

    private void ToggleSEA()
    {
        CampaignRequest.TPSEA = !CampaignRequest.TPSEA;
    }
}
